// .profile{
//     display: flex;
//     width: 90%;
//     margin: auto;
//     align-items: center;
//     gap: 5rem;
//     padding: 3rem;
//     font-family: "Teko";
//     font-size: 1.5rem;
//     color: #3B3545;

//     &__title{
//         text-decoration: underline;
//         font-size: 2.5rem;
//     }

//     &__desc{
//         display: flex;
//         flex-direction: column;
//         width: 60%;
//         gap: 1.5rem;
//     }

//     &__paragraphs{
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;
//     }

//     &__pic{
//         height: 30rem;
//         border-radius: 14rem;
//         width: 30%;
//     }
// }

.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.profile{

    .profile-text{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1{
        color: black;
        font-size: 53px;
        margin: 0;
        font-family: "Teko";
        font-weight: 400;

       

        img{
            width: 4rem;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;

        }
 
    }

    h2{
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .profile-button{
        color: black;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid black;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover{
            color: #83a986;
            background: black;
        }
    }
}
